{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": false
  },
  "rules": {
    "no-console": 1
  }
}